page {
  background-color: #f7f8fa;
}

.aa {
  &--btn-add {
    position: fixed;
    bottom: 120px;
    right: 40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: red;
  }

  &--btn-add-line {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &--btn-add-row {
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
